{{#if session.userid}}
    <h1 class="title">User Dashboard</h1>
{{/if}}

{{#if session.adminid}}
    <div class="dashboard-page">
        <h1 class="title">Administração</h1>

        <div class="dashboard-areas">
            <h2>Usuários</h2>
            <a href="/users/list"><button class="btn">Listar Usuários</button></a>
            <form action="/users/list" method="get">
                <input type="text" name="email" placeholder="Digite o e-mail do usuário.">
                <button class="btn">Buscar Usuários</button>
            </form>
        </div>
        <div class="dashboard-areas">
            <h2>Produtos</h2>
            <a href="/products/add"><button class="btn">Cadastrar Produto</button></a>
            <a href="/products/list"><button class="btn">Listar Produtos</button></a>
            <form action="/products/list" method="get">
                <input type="text" name="name" placeholder="Digite o nome do produto.">
                <button class="btn">Buscar Produtos</button>
            </form>
        </div>
        <div class="dashboard-areas">
            <h2>Pedidos</h2>
            <button class="btn">Cadastrar Pedido</button>
            <button class="btn">Listar Pedidos</button>
            <form action="/users/list" method="get">
                <input type="text" name="email" placeholder="Digite o id do pedido.">
                <button class="btn">Buscar Pedidos</button>
            </form>
        </div>
    </div>
{{/if}}