<form class="form-container" action="/login" method="post">
    <h2>Login</h2>
    <div class="form-inputs">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Digite seu email." required>
    </div>
    <div class="form-inputs">
        <label for="password">Senha:</label>
        <input type="password" name="password" placeholder="Digite sua senha." required>
    </div>

    <input type="submit" value="Entrar">
    <p>Não possui uma conta? <a href="/register">Cadastre-se</a></p>
</form>