<div class="products-create">
    <h1>Insira um produto:</h1>
    <form action="">
        <div class="form-inputs">
            <label for="name">Nome:</label>
            <input type="text" name="" required>
        </div>
    </form>
</div>